.footerMusicList {
    margin-top: 40px;

}

.footerMusicList h1 {
    margin-left: 10px;
    Color: #4A76A8;
}

.arrayOfAvatars {

}

.arrayOfAvatars img {
    width: 250px;
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 30px;
}