.bodyMusicList {

}

.item1 {
  display: flex;
}

.item1:hover {
  cursor: pointer;
  background-color: rgb(214, 233, 255);
}

.item1 h3 {
  margin-left: 15px;
  color: #F62A54;
}

.item1 h3:hover {
  color: #4A76A8;
}

.item1 i {
  margin-top: 15px;
  margin-left: 845px;
}

.item2 {
  display: flex;
}

.item2 h3 {
  margin-left: 15px;
  color: #F62A54;
}

.item2 i {
  margin-top: 15px;
  margin-left: 830px;
}

.item3 {
  display: flex;
}

.item3 h3 {
  margin-left: 15px;
  color: #F62A54;
}

.item3 i {
  margin-top: 15px;
  margin-left: 825px;
}